@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: lightblue;
}
nav {
    display: flex;
    justify-content: center;
    background-color: lightseagreen;
}
.nav_link {
    padding: 10px;
    color: black;
    font-size: 1.4em;
    text-decoration: none;
}

img{
    width: 30%;
    display: block;
    margin: 0 auto;
    Border: 5px solid black;
    border-radius: 50%;
}
a:hover {
    color: blue;
    background-color: white;
}

#main_title {
    font-size: 4em;
    text-align: center;
    font-family: "Protest Riot";
}
p {
    text-align: center;
}

#sub_title {
    color: red
}
footer {
    background-color: lightseagreen;
    padding: 20px;
}
footer a{
    color: white;
}
main p {
    width: 60%;
    margin: 50px auto;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 30px;
    background-color:aliceblue;
    border: 5px solid black;
    border-radius: 40%;
}